* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: rgb(246, 190, 252);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 6px;
}
nav a {
  color: rgba(199, 60, 146, 0.86);
  text-decoration: none;
}
nav ul {
  display: flex;
  margin-right: 40px;
  list-style: none;
}
nav ul li {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
}

.section1 {
}
.presentation_video {
}

.video_side_box {
  position: relative;
  background-color: rgba(246, 190, 252, 1);
}

table {
  border: 2px solid blue;
}
table th {
  border: 2px solid blue;
}

table td {
  border: 2px solid red;
}
