* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #303f9f;
  color: #ffffff;
  text-decoration: none;
}

.navdecoration {
  background-color: rgb(22, 12, 40);
  padding: 15px;
}
.carrousel {
  display: flex;
  width: 600px;
  height: 430px;
}

.carrousel img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s;
}
.carrousel img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}