/*reset css*/
* {
  margin: 10px;
  padding: 0px;
  box-sizing: border-box;
}

.padre {
  background-color: black;
  padding: 30px;
  top: 10px;
  position: relative;
}

.hijo {
  padding: 10px;
}

.hijo1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: crimson;
  text-align: right;
}

.hijo2 {
  background-color: blue;
  text-align: center;
  
}

.hijo3 {
  background-color: green;

}

.hijo1:hover {
  background-color: black;
  color: white;
  
}
.hijo2:hover {
    background-color: red;
    color: aliceblue;
}
.hijo3:hover{
  background-color: aqua;
  color: yellowgreen;
}
.hijo3:active {
  color: green;
  background-color: black;

}